<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
	<title>Search Result</title>
</head>

<body>
	<h1><strong>Display The Stock For User Request</strong></h1>
   

    <div class="endPage">
        <p>Thank You For Using Our Shoes Market Search!  </p>
	<br>
	<p>Have a Nice Day!  </p>
    </div>
 

 
	<div class="link" >
    <a href="/">HOME</a>
</div>
</body>

</html>
