<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
	<title>Search Result</title>
</head>

<body>
	<h1><strong>Display The Stock And Price For User Request</strong></h1>
	<form action="/searchResult2" method="POST">
	<div class = "search-container" >

        <% if (stock) { %>
            <div>
                <%- stock %>
            </div>
        <% } else { %>
            <p>No results found!</p>
        <% } %>

    </div>

</form>
	<div class="link" >
    <a href="/">HOME</a>
</div>
</body>

</html>
